body {
  font-family: sans-serif;
}
.container {
  background-color: #fff; 
  border: 1px solid #cfd9de;;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  width: fit-content;
}
.box {
  display: inline-block;
}
.text-box {
  min-width: 300px;
}
.circle-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 12px;
}
.personal-info{
  font-size: 15px;
  margin-bottom: 2px;
}
.full-name {
  display: inline-block;
  color: #000;
  font-weight:bold;
  margin-left: 4px;
  /* overflow: scroll;
  white-space: nowrap; */
  max-width: 300px;
  min-width: 10px;
}
.meta-data {
  color: #71767b;
}
.message {
  color: #0f1419;
  font-size: 15px;
  margin-bottom: 12px;
  text-align: justify;
}
.svg-box {
  max-width: 425px;
  display: flex;
  justify-content: space-between;
}
.svg-container {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 12px;
}
.action-count {
  color: #536471;
}