html, body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
}

nav,
main,
aside,
footer {
  padding: 12px;
}

header {
  background-color: tomato;
  height: 60px;
  padding-top: 20px;
  padding-left: 12px;
}

div{
  position: relative;
  display: flex;
  flex: 1;
}

nav, main, aside{
  background-color: coral;
  display: inline-block;
  height: 60px;
  padding-top: 20px;
}

main {
  background-color: moccasin;
  display: inline-block;
  width: auto;
  flex: 1;
}

aside {
  background-color: sandybrown;
  display: inline-block;
}

footer {
  background-color: slategray;
  height: 100px;
  padding-top: 40px;
}




