*{
    border: 0px;
    margin: 0px;
}
.box{
    position: relative;
    width: 1200px;
    height: 860px;
}
.container {
    position: relative;
    width: 1100px;
    height: 820px;
    position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.box-header {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    width: 840px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid red;
    text-align: center;

}
.box-score {
    font-weight: bold;
}

.box-timer {
    position: absolute;
    float: right;
    border: 2px solid red;
    margin-top: 0px;
    z-index: 10;
    top:0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 100px;
}

.box-moles {
    position: relative;
    margin: 0 auto;
    margin-top: 2px;
    width: 840px;
    height: 620px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid red;
}

.mole {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid brown;
    border-radius: 50%;
    border-spacing: 0px;
    margin: 0;
    background-image: url('./images/mole.jpg');
    background-size: cover;
    background-position: center;
    background: none;
}


